In [ ]:
'''1.Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'''

In [ ]:
string = input("Enter a string: ")
lst1 = []
for char in string:
    if char not in lst1:
        lst1.append(char)
for item in lst1:
    print(item,string.count(item), sep = "=")

Enter a string: ajnad
a=2
j=1
n=1
d=1

In [ ]:
'''2.Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34 '''

In [ ]:
def maximum(a,b,c):
    list = [12,23,34]
    return max(list)
a = 12
b = 23
c = 34
print(maximum(12,23,34))

34

In [ ]:
'''3.Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8'''

In [ ]:
def exponent(num1,num2):
  print(num1**num2)
num1=int(input("enter the base: "))
num2=int(input("enter the exponent: "))
exponent(num1,num2)

enter the base: 2
enter the exponent: 3
8

In [ ]:
'''4.Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36 '''

In [ ]:
def cube(n):
  count=0
  for i in range(1,n):
    count +=i**3
  return count

n=int(input('Enter a positive integer: '))
print('output = ',cube(n))

Enter a positive integer: 5
output =  100

In [ ]:
'''5.Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

In [ ]:
def function(i):
  count=0
for i in range(1, 11):
    if i%2==0 and i%5==0:
        print('FizzBuzz')
    elif i%2==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
'''6.Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '''

'6.Write a Python function to find the most frequent item in a list of numbers.\nSample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '

In [ ]:
s = 0
l1 = [2,1,3,1]
for n in l1:
  s = s+n*n
  print(s)

4
5
14
15

In [ ]:

'''7.Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15 '''

In [ ]:
def sum_of_squares(numbers):
  sum_of_squares = 0
  for number in numbers:
    sum_of_squares += number * number
  return sum_of_squares
numbers = [2, 1, 3, 1]
result = sum_of_squares(numbers)
print(f"The sum of squares of the numbers in the list is: {result}")

The sum of squares of the numbers in the list is: 15

In [ ]:
'''8.Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd '''

In [ ]:
l1= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
even=[]
odd=[]
while len(l1)>0:
  l=l1.pop()
  if l%2==0:
    even.append(l)
  else:
      odd.append(l)
print(even)
print(odd)

[14, 12, 10, 8, 6, 4, 2]
[15, 13, 11, 9, 7, 5, 3, 1]

In [ ]:
'''9.Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 '''

In [ ]:
a = int(input('enter the temperature: '))
F = (a*9/5)+32
print ('Celsious to Farenheit: ',(F))

enter the temperature: 10
Celsious to Farenheit:  50.0

In [ ]:
'''10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6 '''

In [ ]:
def factorial(n):
    res = 1
    for i in range(2, n+1):
        res *= i
    return res
num = 3
print("Factorial of", num, "is",
factorial(num))

Factorial of 3 is 6

In [ ]:
'''11.Case Study: Grade Calculator
In this case study, you have to create a program that calculates the final
grade for a student based on their scores in different assessments. The
program will take input from the user, perform calculations, and display the
final grade along with additional information.
Requirements:
1. The program should prompt the user to enter the following information:
• Student's name
• Number of assessments (e.g., assignments, quizzes, exams)
• Weight (percentage) of each assessment type
2. For each assessment type, the program should ask the user to enter:
• Number of assessments of that type
• Score obtained for each assessment.
3. The program should calculate the weighted average score for each
assessment type.
4. The program should then calculate the final grade using the weighted
average scores and the weights provided by the user.
5. The program should display the following information:
• Student's name
• Weighted average score for each assessment type
• Final grade
• Letter grade based on a grading scale (e.g., A, B, C, D, F)
6. The program should have a function to determine the letter grade based
on the final grade.'''